## Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

## SASS
.sass-cache/
#*.css

## Windows
Desktop.ini
Thumbs.db
*.pfx
*.user

## Windows App
bld
bin

## Sublime
*.sublime-workspace

## Others
*.crx
*.zip
*.pem
build