<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Remo.music - Remote Music Player</title>
	<!-- Utils -->
	<script defer src="/socket.io/socket.io.js"></script>
	<script defer src="/javascripts/config.js"></script>
	<script defer data-main="/javascripts/masterPlayer" src="/javascripts/vendor/require.js"></script>
	
	<!-- jqSkin -->
	<link href="stylesheets/masterPlayer.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="mainContainer">

		

		<!-- Player -->
		<div id="jquery_jplayer_1" class="jp-jplayer"></div>
		
		<div id="jp_container_1" class="jp-audio">
			<div class="jp-type-playlist">
				<div class="jp-gui jp-interface">
					
					<!-- Controles -->
					<div class="jp-controls">
						<span class="jp-control-item ico-previous jp-previous"><a href="javascript:;" tabindex="1">previous</a></span>
						<span class="jp-control-item ico-play jp-play"><a href="javascript:;" class="" tabindex="1">play</a></span>
						<span class="jp-control-item ico-pause jp-pause"><a href="javascript:;" tabindex="1">pause</a></span>
						<span class="jp-control-item ico-next jp-next"><a href="javascript:;" tabindex="1">next</a></span>
						<span class="jp-control-item jp-stop"><a href="javascript:;" tabindex="1">stop</a></span>
						<!-- <span class="jp-control-item jp-mute"><a href="javascript:;" tabindex="1" title="mute">mute</a></span>
						<span class="jp-control-item jp-unmute"><a href="javascript:;" tabindex="1" title="unmute">unmute</a></span> -->
						<span class="jp-control-item jp-volume-max"><a href="javascript:;" tabindex="1" title="max volume">max volume</a></span>

						<!-- Barra de Volume -->
						<div class="jp-volume">
							<div class="ico-speaker jp-mute"><a href="javascript:;" tabindex="1" title="mute">mute</a></div>
							<div class="ico-speaker-mute jp-unmute" style="display: inline-block"><a href="javascript:;" tabindex="1" title="unmute">unmute</a></div>
							<div class="jp-volume-bar">
								<div class="jp-volume-bar-value"></div>
							</div>
						</div>
					</div>

					<!-- Barra de progresso -->
					<div class="jp-progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>
						</div>
					</div>

					
					<div class="jp-time-holder">
						<div class="jp-current-time"></div>
						<div class="jp-duration"></div>
					</div>
					<ul class="jp-toggles">
						<li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
						<li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
						<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
						<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
					</ul>
				</div>

				<!-- Playlist -->
				<div id="playlist">
					<div class="playlist-container jp-playlist">
						<ul>
							<li></li>
						</ul>
					</div>
				</div>

				<!-- Outros -->
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				</div>
			</div>
		</div>
		
		<!-- qrCode -->
		<div id="showQRCode">
			<div class="clickToShowQRCode"></div>
			<div class="qrCode" id="qrcode"></div>
		</div>
	</div>
</body>
</html>