<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="remomusicapp" Version="1.0.0.0" Publisher="CN=Rafa" />
  <Properties>
    <DisplayName>Remo.music</DisplayName>
    <PublisherDisplayName>Rafael Heringer</PublisherDisplayName>
    <Logo>masterPlayer/images/storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="masterPlayer/index.html">
      <VisualElements DisplayName="Remo Music Player" Logo="masterPlayer\images\Logo.png" SmallLogo="masterPlayer\images\SmallLogo.jpg" Description="Control your local musics with your smartphone. Simple drag and drop your music folder into Remo.music and listen the best experience ever." ForegroundText="light" BackgroundColor="#61c4b0" ToastCapable="false">
        <DefaultTile ShowName="noLogos" ShortName="Remo.music" WideLogo="masterPlayer\images\WideLogo.png" />
        <SplashScreen Image="masterPlayer\images\SplashScreen.png" BackgroundColor="#61c4b0" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name=".mp3">
            <DisplayName>Remo Music Player</DisplayName>
            <SupportedFileTypes>
              <FileType ContentType="audio/mp3">.mp3</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
      <ApplicationContentUriRules>
        <Rule Match="http://ws.audioscrobbler.com" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
  </Capabilities>
</Package>