/*!
 *Site: Remo.music
 *Package: Remote Player Package
 *Author: Rafael Heringer Carvalho
 *Version: 1.0
 *Using: .SASS + Compass + Animation + Animate (http://daneden.me/animate/) 
 */


//Utils
//=====

//Font

//config
$gradient-from: 	rgba(103,255,111,0.4) 		//First gradient bg color
$gradient-to: 		rgba(61,203,255,0.4)		//Last gradient bf color
$text-color: 		#acacac 					//Gray: all texts
$strong-text-color: #333333 					//Dark gray: for text

//Functions and mixins
@import fonts
@import compass
@import plugins/animation

@mixin clearfix
	display: inline-block
	&:after
		content: "."
		display: block
		height: 0
		clear: both
		visibility: hidden
	* html &
		height: 1px

//Chrome Scrollbar
.playlist-container
	&::-webkit-scrollbar 
		width: 5px
		height: 100%
		background: transparent

	&::-webkit-scrollbar-button:start:decrement,
	&::-webkit-scrollbar-button:end:increment
		height: 30px
		display: none
		background-color: transparent

	&::-webkit-scrollbar-thumb:vertical 
		+border-radius(5px)
		+transition (all 200ms ease-in-out)
		height: 50px
		background-color: rgba(82,82,82,0.6)
		
		&:hover
			background-color: rgba(82,82,82,1.0)

//Sprites
@import "ico/*.png"
$ico-sprite-dimensions: true
+all-ico-sprites
span[class|="ico"],
a[class|="ico"],
div[class|="ico"]
	display: inline-block
	vertical-align: middle

//Visual effects
//==============

//Background gradient
+keyframes(bgFades)
	0%, 100%
		+background-image(linear-gradient(45deg, $gradient-from, transparent))
		background-color: $gradient-to

	25%
		+background-image(linear-gradient(45deg, adjust-hue($gradient-from, 128deg), transparent))
		background-color: adjust-hue($gradient-to, 128deg)

	50%
		+background-image(linear-gradient(45deg, adjust-hue($gradient-from, -135deg), transparent))
		background-color: adjust-hue($gradient-to, -135deg)

//Modal effects
+keyframes(bounce)
	0%
		+transform(scale3d(0.1,0.1,1))

	55%
		+transform(scale3d(1.08,1.08,1))

	75%
		+transform(scale3d(0.95,0.95,1))

	100%
		+transform(scale3d(1,1,1))

+keyframes(minimise)
	0%
		+transform(scale3d(1,1,1))

	100%
		+transform(scale3d(0.1,0.1,1))

//Elements
//========

//Reset
*
	margin: 0
	padding: 0
	z-index: 4
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

	&:focus
		outline: none

	&.hidden
		+animation(none)
		opacity: 0.01!important

ul,
li
	list-style-type: none

#hidden-controls
	display: none

//Texts
a
	text-decoration: none
	color: $text-color
	cursor: default

//Main
html,
body
	height: 100%
	font-size: 12px
	overflow: hidden

body
	background: image-url("bg.jpg") repeat #000000
	+box-sizing(border-box)
	font-family: "Open Sans", Arial
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	width: 100%
	height: 100%
	border: 1px solid black
	
	&:before
		+background-image(linear-gradient(0deg, rgba(0,0,0,0.6), transparent))
		position: absolute
		content: " "
		display: block
		height: 70px
		bottom: 0
		left: 0
		right: 0
		z-index: 2

//Main container
#main-container
	height: 100%
	width: 100%

//Background effects
#bg-effect
	+animation(bgFades 100s infinite)
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 2

//Shadows
#shadows
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	z-index: 3

	&:after
		+rotate(-170deg)
		+background-image(linear-gradient(0deg, rgba(0,0,0,0.6), transparent))
		position: absolute
		content: " "
		display: block
		height: 80px
		width: 410px
		top: -39px
		right: -54px
		z-index: 2

	&:before
		+rotate(-35deg)
		+background-image(linear-gradient(0deg, rgba(0,0,0,0.6), transparent))
		position: absolute
		content: " "
		display: block
		height: 300px
		width: 800px
		bottom: -140px
		right: -160px
		z-index: 2

//Chrome actions
#chrome-actions
	position: absolute
	right: 10px
	top: 10px

	.chrome-act
		display: inline-block
		vertical-align: middle

		&:active
			opacity: 0.7

//Chrome drag area
#chrome-drag
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 50px

//Menu
#menu
	+transition(all 200ms ease-in-out)
	opacity: 0.7
	position: absolute
	right: 0
	top: 75px
	
	&:hover
		opacity: 1

	.menu-item
		+transition(all 500ms ease-in-out)
		-webkit-transform: none
		background: rgba(0,0,0,0.85)
		width: 105px
		height: auto
		margin: 0 -85px 10px 0
		padding: 8px 15px
		color: white

		&:hover
			margin-left: -85px

	.menu-item-title
		display: inline-block
		vertical-align: middle
		margin: 0 0 0 10px
		cursor: default
			
//Playlist
#playlist
	background: rgba(0,0,0,0.85)
	padding: 10px 10px 10px 0
	width: 23%
	height: 65%
	min-width: 270px
	//min-height: 325px
	left: 10%
	top: 0
	position: absolute
	
	//Playlist
	.playlist-container
		height: 100%
		padding-right: 10px
		overflow: auto

	.jp-free-media
		display: none

	li
		margin: 7px 0

	.jp-playlist-item
		+text-shadow(0px 0px 5px rgba(172,172,172,0.5))
		+ellipsis
		display: block
		padding: 6px 20px
		font-size: 16px

		.jp-artist
			+text-shadow(none)
			color: rgba(255,255,255,0.2)

		&:hover
			background: rgba(255,255,255,0.1)

	.jp-playlist-current 
		.jp-playlist-item
			color: black
			background: white

		.jp-artist
			color: rgba(0,0,0,0.3)

//Player Controls
.jp-controls
	position: absolute
	display: block
	bottom: 10.5%
	right: 5%
	text-align: center
	width: 300px

//Toggles
.jp-toggles
	float: left
	margin: 5px 10px 0 0

	.jp-toggle
		background: rgba(0,0,0,0.5)
		width: 20px
		height: 20px
		display: block
		margin: 0 0 3px 0

		a
			opacity: 0.5

		&.jp-repeat-off,
		&.jp-shuffle-off
			a
				opacity: 1

		&:hover
			background: rgba(0,0,0,0.7)

//Music info and controls
.jp-music-info
	+text-shadow(0 0px 5px #000000, 0 0px 10px #000000)
	position: relative
	text-align: left
	float: left
	width: 270px

	.jp-music-cover
		+box-shadow(0 0 10px rgba(0,0,0,1))
		width: 70px
		height: 70px
		margin: 0 20px 0 0
		background: image-url("default-cover.jpg")
		float: left
		border: 2px solid white

		.jp-fake-image
			background-size: 70px 70px
			width: 70px
			height: 70px

		img
			//+transition (all 600ms ease-in-out)
			display: none
			

	.jp-music-name-and-artist
		margin: -5px 0 0 0
		float: left
		color: white

		.jp-music-name
			font-size: 18px
			text-overflow: ellipsis
			overflow: hidden
			white-space: nowrap
			width: 165px

		.jp-music-artist
			font-size: 12px
			text-overflow: ellipsis
			overflow: hidden
			white-space: nowrap
			width: 165px

	.jp-music-control
		position: absolute
		top: 40px
		left: 90px
		bottom: 0

		.jp-control-item 
			display: inline-block
			vertical-align: middle
			list-style-type: none
			position: relative

			&:active,
			&.active
				opacity: 0.6

			a
				display: block
				width: 100%
				height: 100%

		.jp-previous,
		.jp-play,
		.jp-pause,
		.jp-next
			vertical-align: middle

		.jp-stop,
		.jp-volume-max
			display: none!important

//Volume control
.jp-volume
	+transition (all 200ms ease-in-out)
	position: absolute
	text-align: left
	top: 82px
	left: 0
	opacity: 0.7

	&:hover
		opacity: 1

	.jp-volume-bar
		+box-shadow(0,0,5px, rgba(0,0,0,0.3))
		display: inline-block
		background: rgba(255,255,255, 0.45)
		width: 115px
		position: relative
		height: 6px

		.jp-volume-bar-value
			+transition (all 200ms ease-in-out)
			height: 100%
			background: white

	.jp-mute,
	.jp-unmute
		@extend .jp-control-item

//Music progress bar
.jp-progress
	+transition (all 200ms ease-in-out)
	opacity: 0.5
	position: absolute
	bottom: 1px
	left: 0
	right: 43px
	z-index: 4
	height: 20px

	.jp-duration,
	.jp-current-time
		color: white
		font-size: 10px
		position: absolute

	.jp-duration
		bottom: 1px
		right: -33px

	&:hover
		opacity: 0.8

		.jp-seek-bar
			height: 10px
			margin-top: 8px
			
			.jp-play-bar
				.jp-current-time
					display: block

	.jp-seek-bar
		+transition (all 200ms ease-in-out)
		height: 2px
		margin-top: 12px
		width: 100%
		position: relative
		background: rgba(255,255,255,0.3)

		.jp-play-bar
			+transition (all 200ms ease-in-out)
			background: white
			height: 100%
			position: relative

			.jp-current-time
				right: 0
				margin: -15px -10px 0 0
				display: none

//Others
.jp-no-solution
	display: none

.jp-jplayer
	display: none

//qrCode
#show-QR-code
	position: absolute
	left: 12%
	top: 75%
	display: none

	.qr-code
		background: white
		display: none
		height: 20%
		border: 10px solid white
		margin: -20px 0 0 0

		canvas
			width: auto
			height: 20%

	.click-to-show-QR-code
		background: image-url("click-qrcode.png") no-repeat left top
		width: 152px
		height: 51px

//Drag and drop layer
#drag-drop-layer
	+transition (all 200ms ease-in-out)
	opacity: 0.1
	background: rgba(255,255,255,0.8)
	position: absolute
	z-index: 5
	top: 0
	left: 0
	right: 0
	bottom: 0
	padding: 5%
	display: none

	&.hover
		opacity: 1
		display: block

	.drag-drop-text
		+box-sizing(border-box)
		border: 7px dotted darken(white, 25%)
		width: 100%
		height: 100%
		position: relative

		span
			color: darken(white, 60%)
			font-size: 3em
			display: block
			position: absolute
			top: 45%
			left: 0
			right: 0
			text-align: center

//Modal
.modal
	+transition(opacity 100ms ease-in)
	opacity: 0
	pointer-events: none
	background: rgba(0,0,0,0.5)
	color: $strong-text-color
	position: fixed
	bottom: 0
	right: 0
	left: 0
	top: 0

	&:target
		opacity: 1
		pointer-events: auto

		.modal-container
			+animation-name(bounce)

	.modal-container
		+box-sizing(border-box)
		+animation(minimise 400ms linear)
		background: white
		width: 680px
		height: 380px
		padding: 30px
		position: absolute
		top: 50%
		left: 50%
		margin: -190px 0 0 -340px

	.column
		width: 45%
		float: left
		margin-right: 5%

	.modal-actions
		position: absolute
		top: 15px
		right: 15px

	.modal-close
		display: block

	h2
		font-size: 32px
		margin: 0 0 15px 0

	p
		font-size: 12px
		margin: 15px 0 0 0
		
		a
			color: $strong-text-color
			text-decoration: underline
			cursor: pointer
