/*Site: Remo.music
 *Package: Remote Player Package
 *Author: Rafael Heringer Carvalho
 *Version: 1.0
 *Using: .SASS + Compass + Animation + Animate (http://daneden.me/animate/) 
 */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/masterPlayer/fonts/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot);
  src: local("Open Sans"), local("OpenSans"), url(/masterPlayer/fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(/masterPlayer/fonts/MTP_ySUJH_bn48VBG8sNSnZ2MAKAc2x4R1uOSeegc5U.eot);
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(/masterPlayer/fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/masterPlayer/fonts/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot);
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(/masterPlayer/fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url(/masterPlayer/fonts/xjAJXh38I15wypJXxuGMBmfQcKutQXcIrRfyR5jdjY8.eot);
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(/masterPlayer/fonts/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

/* line 39, src/masterPlayer.sass */
.playlist-container::-webkit-scrollbar {
  width: 5px;
  height: 100%;
  background: transparent;
}
/* line 44, src/masterPlayer.sass */
.playlist-container::-webkit-scrollbar-button:start:decrement, .playlist-container::-webkit-scrollbar-button:end:increment {
  height: 30px;
  display: none;
  background-color: transparent;
}
/* line 50, src/masterPlayer.sass */
.playlist-container::-webkit-scrollbar-thumb:vertical {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  height: 50px;
  background-color: rgba(82, 82, 82, 0.6);
}
/* line 56, src/masterPlayer.sass */
.playlist-container::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #525252;
}

/* line 146, ico/*.png */
.ico-sprite, .ico-close, .ico-contrast-close, .ico-folder, .ico-info, .ico-maximize, .ico-minus, .ico-next, .ico-pause, .ico-play, .ico-previous, .ico-repeat, .ico-shuffle, .ico-speaker-mute, .ico-speaker {
  background: url('../images/ico-s172a0a0f36.png') no-repeat;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-close {
  background-position: 0 -202px;
  height: 18px;
  width: 18px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-contrast-close {
  background-position: 0 -286px;
  height: 10px;
  width: 10px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-folder {
  background-position: 0 -256px;
  height: 20px;
  width: 22px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-info {
  background-position: 0 -220px;
  height: 23px;
  width: 23px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-maximize {
  background-position: 0 -183px;
  height: 19px;
  width: 19px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-minus {
  background-position: 0 -296px;
  height: 10px;
  width: 20px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-next {
  background-position: 0 -36px;
  height: 29px;
  width: 30px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-pause {
  background-position: 0 -120px;
  height: 36px;
  width: 30px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-play {
  background-position: 0 0;
  height: 36px;
  width: 30px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-previous {
  background-position: 0 -65px;
  height: 28px;
  width: 30px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-repeat {
  background-position: 0 -243px;
  height: 13px;
  width: 14px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-shuffle {
  background-position: 0 -276px;
  height: 10px;
  width: 14px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-speaker-mute {
  background-position: 0 -156px;
  height: 27px;
  width: 31px;
}

/* line 60, ../../../../../../../../ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-speaker {
  background-position: 0 -93px;
  height: 27px;
  width: 31px;
}

/* line 63, src/masterPlayer.sass */
span[class|="ico"],
a[class|="ico"],
div[class|="ico"] {
  display: inline-block;
  vertical-align: middle;
}

@-moz-keyframes bgFades {
  /* line 74, src/masterPlayer.sass */
  0%, 100% {
    background-image: -moz-linear-gradient(45deg, rgba(103, 255, 111, 0.4), transparent);
    background-image: linear-gradient(45deg, rgba(103, 255, 111, 0.4), transparent);
    background-color: rgba(61, 203, 255, 0.4);
  }

  /* line 78, src/masterPlayer.sass */
  25% {
    background-image: -moz-linear-gradient(45deg, rgba(131, 103, 255, 0.4), transparent);
    background-image: linear-gradient(45deg, rgba(131, 103, 255, 0.4), transparent);
    background-color: rgba(255, 61, 177, 0.4);
  }

  /* line 82, src/masterPlayer.sass */
  50% {
    background-image: -moz-linear-gradient(45deg, rgba(255, 103, 133, 0.4), transparent);
    background-image: linear-gradient(45deg, rgba(255, 103, 133, 0.4), transparent);
    background-color: rgba(251, 255, 61, 0.4);
  }
}

@-webkit-keyframes bgFades {
  /* line 74, src/masterPlayer.sass */
  0%, 100% {
    background-image: -webkit-linear-gradient(45deg, rgba(103, 255, 111, 0.4), transparent);
    background-image: linear-gradient(45deg, rgba(103, 255, 111, 0.4), transparent);
    background-color: rgba(61, 203, 255, 0.4);
  }

  /* line 78, src/masterPlayer.sass */
  25% {
    background-image: -webkit-linear-gradient(45deg, rgba(131, 103, 255, 0.4), transparent);
    background-image: linear-gradient(45deg, rgba(131, 103, 255, 0.4), transparent);
    background-color: rgba(255, 61, 177, 0.4);
  }

  /* line 82, src/masterPlayer.sass */
  50% {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 103, 133, 0.4), transparent);
    background-image: linear-gradient(45deg, rgba(255, 103, 133, 0.4), transparent);
    background-color: rgba(251, 255, 61, 0.4);
  }
}

@-o-keyframes bgFades {
  /* line 74, src/masterPlayer.sass */
  0%, 100% {
    background-image: -o-linear-gradient(45deg, rgba(103, 255, 111, 0.4), transparent);
    background-image: linear-gradient(45deg, rgba(103, 255, 111, 0.4), transparent);
    background-color: rgba(61, 203, 255, 0.4);
  }

  /* line 78, src/masterPlayer.sass */
  25% {
    background-image: -o-linear-gradient(45deg, rgba(131, 103, 255, 0.4), transparent);
    background-image: linear-gradient(45deg, rgba(131, 103, 255, 0.4), transparent);
    background-color: rgba(255, 61, 177, 0.4);
  }

  /* line 82, src/masterPlayer.sass */
  50% {
    background-image: -o-linear-gradient(45deg, rgba(255, 103, 133, 0.4), transparent);
    background-image: linear-gradient(45deg, rgba(255, 103, 133, 0.4), transparent);
    background-color: rgba(251, 255, 61, 0.4);
  }
}

@-ms-keyframes bgFades {
  /* line 74, src/masterPlayer.sass */
  0%, 100% {
    background-image: linear-gradient(45deg, rgba(103, 255, 111, 0.4), transparent);
    background-color: rgba(61, 203, 255, 0.4);
  }

  /* line 78, src/masterPlayer.sass */
  25% {
    background-image: linear-gradient(45deg, rgba(131, 103, 255, 0.4), transparent);
    background-color: rgba(255, 61, 177, 0.4);
  }

  /* line 82, src/masterPlayer.sass */
  50% {
    background-image: linear-gradient(45deg, rgba(255, 103, 133, 0.4), transparent);
    background-color: rgba(251, 255, 61, 0.4);
  }
}

@keyframes bgFades {
  /* line 74, src/masterPlayer.sass */
  0%, 100% {
    background-image: linear-gradient(45deg, rgba(103, 255, 111, 0.4), transparent);
    background-color: rgba(61, 203, 255, 0.4);
  }

  /* line 78, src/masterPlayer.sass */
  25% {
    background-image: linear-gradient(45deg, rgba(131, 103, 255, 0.4), transparent);
    background-color: rgba(255, 61, 177, 0.4);
  }

  /* line 82, src/masterPlayer.sass */
  50% {
    background-image: linear-gradient(45deg, rgba(255, 103, 133, 0.4), transparent);
    background-color: rgba(251, 255, 61, 0.4);
  }
}

@-moz-keyframes bounce {
  /* line 88, src/masterPlayer.sass */
  0% {
    -moz-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  /* line 91, src/masterPlayer.sass */
  55% {
    -moz-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  /* line 94, src/masterPlayer.sass */
  75% {
    -moz-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
  }

  /* line 97, src/masterPlayer.sass */
  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes bounce {
  /* line 88, src/masterPlayer.sass */
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  /* line 91, src/masterPlayer.sass */
  55% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  /* line 94, src/masterPlayer.sass */
  75% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
  }

  /* line 97, src/masterPlayer.sass */
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes bounce {
  /* line 88, src/masterPlayer.sass */
  0% {
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  /* line 91, src/masterPlayer.sass */
  55% {
    -o-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  /* line 94, src/masterPlayer.sass */
  75% {
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
  }

  /* line 97, src/masterPlayer.sass */
  100% {
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-ms-keyframes bounce {
  /* line 88, src/masterPlayer.sass */
  0% {
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  /* line 91, src/masterPlayer.sass */
  55% {
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  /* line 94, src/masterPlayer.sass */
  75% {
    -ms-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
  }

  /* line 97, src/masterPlayer.sass */
  100% {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  /* line 88, src/masterPlayer.sass */
  0% {
    transform: scale3d(0.1, 0.1, 1);
  }

  /* line 91, src/masterPlayer.sass */
  55% {
    transform: scale3d(1.08, 1.08, 1);
  }

  /* line 94, src/masterPlayer.sass */
  75% {
    transform: scale3d(0.95, 0.95, 1);
  }

  /* line 97, src/masterPlayer.sass */
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@-moz-keyframes minimise {
  /* line 101, src/masterPlayer.sass */
  0% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  /* line 104, src/masterPlayer.sass */
  100% {
    -moz-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }
}

@-webkit-keyframes minimise {
  /* line 101, src/masterPlayer.sass */
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  /* line 104, src/masterPlayer.sass */
  100% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }
}

@-o-keyframes minimise {
  /* line 101, src/masterPlayer.sass */
  0% {
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  /* line 104, src/masterPlayer.sass */
  100% {
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }
}

@-ms-keyframes minimise {
  /* line 101, src/masterPlayer.sass */
  0% {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  /* line 104, src/masterPlayer.sass */
  100% {
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }
}

@keyframes minimise {
  /* line 101, src/masterPlayer.sass */
  0% {
    transform: scale3d(1, 1, 1);
  }

  /* line 104, src/masterPlayer.sass */
  100% {
    transform: scale3d(0.1, 0.1, 1);
  }
}

/* line 111, src/masterPlayer.sass */
* {
  margin: 0;
  padding: 0;
  z-index: 4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 117, src/masterPlayer.sass */
*:focus {
  outline: none;
}
/* line 120, src/masterPlayer.sass */
*.hidden {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
  opacity: 0.01 !important;
}

/* line 124, src/masterPlayer.sass */
ul,
li {
  list-style-type: none;
}

/* line 128, src/masterPlayer.sass */
#hidden-controls {
  display: none;
}

/* line 132, src/masterPlayer.sass */
a {
  text-decoration: none;
  color: #acacac;
  cursor: default;
}

/* line 138, src/masterPlayer.sass */
html,
body {
  height: 100%;
  font-size: 12px;
  overflow: hidden;
}

/* line 144, src/masterPlayer.sass */
body {
  background: url('../images/bg.jpg?1364346222') repeat black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", Arial;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
/* line 158, src/masterPlayer.sass */
body:before {
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  position: absolute;
  content: " ";
  display: block;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* line 170, src/masterPlayer.sass */
#main-container {
  height: 100%;
  width: 100%;
}

/* line 175, src/masterPlayer.sass */
#bg-effect {
  -webkit-animation: bgFades 100s infinite;
  -moz-animation: bgFades 100s infinite;
  -ms-animation: bgFades 100s infinite;
  -o-animation: bgFades 100s infinite;
  animation: bgFades 100s infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* line 185, src/masterPlayer.sass */
#shadows {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
/* line 193, src/masterPlayer.sass */
#shadows:after {
  -webkit-transform: rotate(-170deg);
  -moz-transform: rotate(-170deg);
  -ms-transform: rotate(-170deg);
  -o-transform: rotate(-170deg);
  transform: rotate(-170deg);
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  position: absolute;
  content: " ";
  display: block;
  height: 80px;
  width: 410px;
  top: -39px;
  right: -54px;
  z-index: 2;
}
/* line 205, src/masterPlayer.sass */
#shadows:before {
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  position: absolute;
  content: " ";
  display: block;
  height: 300px;
  width: 800px;
  bottom: -140px;
  right: -160px;
  z-index: 2;
}

/* line 218, src/masterPlayer.sass */
#chrome-actions {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 223, src/masterPlayer.sass */
#chrome-actions .chrome-act {
  display: inline-block;
  vertical-align: middle;
}
/* line 227, src/masterPlayer.sass */
#chrome-actions .chrome-act:active {
  opacity: 0.7;
}

/* line 231, src/masterPlayer.sass */
#chrome-drag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

/* line 239, src/masterPlayer.sass */
#menu {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 75px;
}
/* line 246, src/masterPlayer.sass */
#menu:hover {
  opacity: 1;
}
/* line 249, src/masterPlayer.sass */
#menu .menu-item {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform: none;
  background: rgba(0, 0, 0, 0.85);
  width: 105px;
  height: auto;
  margin: 0 -85px 10px 0;
  padding: 8px 15px;
  color: white;
}
/* line 259, src/masterPlayer.sass */
#menu .menu-item:hover {
  margin-left: -85px;
}
/* line 262, src/masterPlayer.sass */
#menu .menu-item-title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  cursor: default;
}

/* line 269, src/masterPlayer.sass */
#playlist {
  background: rgba(0, 0, 0, 0.85);
  padding: 10px 10px 10px 0;
  width: 23%;
  height: 65%;
  min-width: 270px;
  left: 10%;
  top: 0;
  position: absolute;
}
/* line 281, src/masterPlayer.sass */
#playlist .playlist-container {
  height: 100%;
  padding-right: 10px;
  overflow: auto;
}
/* line 286, src/masterPlayer.sass */
#playlist .jp-free-media {
  display: none;
}
/* line 289, src/masterPlayer.sass */
#playlist li {
  margin: 7px 0;
}
/* line 292, src/masterPlayer.sass */
#playlist .jp-playlist-item {
  text-shadow: 0px 0px 5px rgba(172, 172, 172, 0.5);
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  padding: 6px 20px;
  font-size: 16px;
}
/* line 299, src/masterPlayer.sass */
#playlist .jp-playlist-item .jp-artist {
  text-shadow: none;
  color: rgba(255, 255, 255, 0.2);
}
/* line 303, src/masterPlayer.sass */
#playlist .jp-playlist-item:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* line 307, src/masterPlayer.sass */
#playlist .jp-playlist-current .jp-playlist-item {
  color: black;
  background: white;
}
/* line 311, src/masterPlayer.sass */
#playlist .jp-playlist-current .jp-artist {
  color: rgba(0, 0, 0, 0.3);
}

/* line 315, src/masterPlayer.sass */
.jp-controls {
  position: absolute;
  display: block;
  bottom: 10.5%;
  right: 5%;
  text-align: center;
  width: 300px;
}

/* line 324, src/masterPlayer.sass */
.jp-toggles {
  float: left;
  margin: 5px 10px 0 0;
}
/* line 328, src/masterPlayer.sass */
.jp-toggles .jp-toggle {
  background: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 0 3px 0;
}
/* line 335, src/masterPlayer.sass */
.jp-toggles .jp-toggle a {
  opacity: 0.5;
}
/* line 340, src/masterPlayer.sass */
.jp-toggles .jp-toggle.jp-repeat-off a, .jp-toggles .jp-toggle.jp-shuffle-off a {
  opacity: 1;
}
/* line 343, src/masterPlayer.sass */
.jp-toggles .jp-toggle:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* line 347, src/masterPlayer.sass */
.jp-music-info {
  text-shadow: 0 0px 5px black, 0 0px 10px black;
  position: relative;
  text-align: left;
  float: left;
  width: 270px;
}
/* line 354, src/masterPlayer.sass */
.jp-music-info .jp-music-cover {
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  width: 70px;
  height: 70px;
  margin: 0 20px 0 0;
  background: url('../images/default-cover.jpg?1367438801');
  float: left;
  border: 2px solid white;
}
/* line 363, src/masterPlayer.sass */
.jp-music-info .jp-music-cover .jp-fake-image {
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
}
/* line 368, src/masterPlayer.sass */
.jp-music-info .jp-music-cover img {
  display: none;
}
/* line 373, src/masterPlayer.sass */
.jp-music-info .jp-music-name-and-artist {
  margin: -5px 0 0 0;
  float: left;
  color: white;
}
/* line 378, src/masterPlayer.sass */
.jp-music-info .jp-music-name-and-artist .jp-music-name {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 165px;
}
/* line 385, src/masterPlayer.sass */
.jp-music-info .jp-music-name-and-artist .jp-music-artist {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 165px;
}
/* line 392, src/masterPlayer.sass */
.jp-music-info .jp-music-control {
  position: absolute;
  top: 40px;
  left: 90px;
  bottom: 0;
}
/* line 398, src/masterPlayer.sass */
.jp-music-info .jp-music-control .jp-control-item, .jp-music-info .jp-music-control .jp-volume .jp-mute, .jp-volume .jp-music-info .jp-music-control .jp-mute,
.jp-music-info .jp-music-control .jp-volume .jp-unmute,
.jp-volume .jp-music-info .jp-music-control .jp-unmute {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  position: relative;
}
/* line 404, src/masterPlayer.sass */
.jp-music-info .jp-music-control .jp-control-item:active, .jp-music-info .jp-music-control .jp-volume .jp-mute:active, .jp-volume .jp-music-info .jp-music-control .jp-mute:active,
.jp-music-info .jp-music-control .jp-volume .jp-unmute:active,
.jp-volume .jp-music-info .jp-music-control .jp-unmute:active, .jp-music-info .jp-music-control .jp-control-item.active, .jp-music-info .jp-music-control .jp-volume .active.jp-mute, .jp-volume .jp-music-info .jp-music-control .active.jp-mute,
.jp-music-info .jp-music-control .jp-volume .active.jp-unmute,
.jp-volume .jp-music-info .jp-music-control .active.jp-unmute {
  opacity: 0.6;
}
/* line 408, src/masterPlayer.sass */
.jp-music-info .jp-music-control .jp-control-item a, .jp-music-info .jp-music-control .jp-volume .jp-mute a, .jp-volume .jp-music-info .jp-music-control .jp-mute a,
.jp-music-info .jp-music-control .jp-volume .jp-unmute a,
.jp-volume .jp-music-info .jp-music-control .jp-unmute a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 413, src/masterPlayer.sass */
.jp-music-info .jp-music-control .jp-previous,
.jp-music-info .jp-music-control .jp-play,
.jp-music-info .jp-music-control .jp-pause,
.jp-music-info .jp-music-control .jp-next {
  vertical-align: middle;
}
/* line 419, src/masterPlayer.sass */
.jp-music-info .jp-music-control .jp-stop,
.jp-music-info .jp-music-control .jp-volume-max {
  display: none !important;
}

/* line 424, src/masterPlayer.sass */
.jp-volume {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  position: absolute;
  text-align: left;
  top: 82px;
  left: 0;
  opacity: 0.7;
}
/* line 432, src/masterPlayer.sass */
.jp-volume:hover {
  opacity: 1;
}
/* line 435, src/masterPlayer.sass */
.jp-volume .jp-volume-bar {
  -webkit-box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.3);
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.3);
  display: inline-block;
  background: rgba(255, 255, 255, 0.45);
  width: 115px;
  position: relative;
  height: 6px;
}
/* line 443, src/masterPlayer.sass */
.jp-volume .jp-volume-bar .jp-volume-bar-value {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  height: 100%;
  background: white;
}

/* line 453, src/masterPlayer.sass */
.jp-progress {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0.5;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 43px;
  z-index: 4;
  height: 20px;
}
/* line 463, src/masterPlayer.sass */
.jp-progress .jp-duration,
.jp-progress .jp-current-time {
  color: white;
  font-size: 10px;
  position: absolute;
}
/* line 469, src/masterPlayer.sass */
.jp-progress .jp-duration {
  bottom: 1px;
  right: -33px;
}
/* line 473, src/masterPlayer.sass */
.jp-progress:hover {
  opacity: 0.8;
}
/* line 476, src/masterPlayer.sass */
.jp-progress:hover .jp-seek-bar {
  height: 10px;
  margin-top: 8px;
}
/* line 481, src/masterPlayer.sass */
.jp-progress:hover .jp-seek-bar .jp-play-bar .jp-current-time {
  display: block;
}
/* line 484, src/masterPlayer.sass */
.jp-progress .jp-seek-bar {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  height: 2px;
  margin-top: 12px;
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.3);
}
/* line 492, src/masterPlayer.sass */
.jp-progress .jp-seek-bar .jp-play-bar {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background: white;
  height: 100%;
  position: relative;
}
/* line 498, src/masterPlayer.sass */
.jp-progress .jp-seek-bar .jp-play-bar .jp-current-time {
  right: 0;
  margin: -15px -10px 0 0;
  display: none;
}

/* line 504, src/masterPlayer.sass */
.jp-no-solution {
  display: none;
}

/* line 507, src/masterPlayer.sass */
.jp-jplayer {
  display: none;
}

/* line 511, src/masterPlayer.sass */
#show-QR-code {
  position: absolute;
  left: 12%;
  top: 75%;
  display: none;
}
/* line 517, src/masterPlayer.sass */
#show-QR-code .qr-code {
  background: white;
  display: none;
  height: 20%;
  border: 10px solid white;
  margin: -20px 0 0 0;
}
/* line 524, src/masterPlayer.sass */
#show-QR-code .qr-code canvas {
  width: auto;
  height: 20%;
}
/* line 528, src/masterPlayer.sass */
#show-QR-code .click-to-show-QR-code {
  background: url('../images/click-qrcode.png?1364439840') no-repeat left top;
  width: 152px;
  height: 51px;
}

/* line 534, src/masterPlayer.sass */
#drag-drop-layer {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0.1;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5%;
  display: none;
}
/* line 547, src/masterPlayer.sass */
#drag-drop-layer.hover {
  opacity: 1;
  display: block;
}
/* line 551, src/masterPlayer.sass */
#drag-drop-layer .drag-drop-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 7px dotted #bfbfbf;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 558, src/masterPlayer.sass */
#drag-drop-layer .drag-drop-text span {
  color: #666666;
  font-size: 3em;
  display: block;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 569, src/masterPlayer.sass */
.modal {
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.5);
  color: #333333;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
/* line 581, src/masterPlayer.sass */
.modal:target {
  opacity: 1;
  pointer-events: auto;
}
/* line 585, src/masterPlayer.sass */
.modal:target .modal-container {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -ms-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
/* line 588, src/masterPlayer.sass */
.modal .modal-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: minimise 400ms linear;
  -moz-animation: minimise 400ms linear;
  -ms-animation: minimise 400ms linear;
  -o-animation: minimise 400ms linear;
  animation: minimise 400ms linear;
  background: white;
  width: 680px;
  height: 380px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -190px 0 0 -340px;
}
/* line 600, src/masterPlayer.sass */
.modal .column {
  width: 45%;
  float: left;
  margin-right: 5%;
}
/* line 605, src/masterPlayer.sass */
.modal .modal-actions {
  position: absolute;
  top: 15px;
  right: 15px;
}
/* line 610, src/masterPlayer.sass */
.modal .modal-close {
  display: block;
}
/* line 613, src/masterPlayer.sass */
.modal h2 {
  font-size: 32px;
  margin: 0 0 15px 0;
}
/* line 617, src/masterPlayer.sass */
.modal p {
  font-size: 12px;
  margin: 15px 0 0 0;
}
/* line 621, src/masterPlayer.sass */
.modal p a {
  color: #333333;
  text-decoration: underline;
  cursor: pointer;
}
